.form-h2{
  padding: 20px 40px;
  font-size: 38px;
  font-weight: bold;
}

.emotion-list{
  word-wrap:break-all;
  display: flex;
  margin: 0 0 20px 0;
}

.emotion-list__view{
  padding: 20px 70px 40px 40px;
}

.emotion-list__view__data{
  display: flex;
  position: relative;
  width: 150%;
}

.data__image{
  width: 186px;
  height: 276px;
}

.lead-menu{
  font-size: 18px;
  width: 400px;
}

.tag-btn{
  display: flex;
  margin-top: 5px;
}

.emotion-tag{
  width: 60px;
}

.emotion-btn{
  margin-left: 270px !important;
}

.el-form-item{
  margin-bottom: 0px !important;
}

.el-form-item__content{
  margin-left: 0px !important;
}

.el-form{
  padding: 0 30px;
}

.el-textarea{
  height: 200px;
  width: 400px;
}

.el-textarea__inner{
  height: 200px;
  width: 400px;
  resize: none;
  padding: 0 12px;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.1);
}

.el-input__inner{
  width: 220px !important;
}