.mybest-book-wrapper__list__view__image-show{
  display: flex;
  &__syno-title{
    padding: 0 30px;
    width: 1020px;
    word-break: keep-all;
    & .title{
      font-size: 20px;
      padding: 0 0 15px 0;
      &__text{
        border-left: solid 5px rgb(143, 140, 140);
        padding: 0 0 0 5px;
      }
    }
    & .lead{
      font-size: 18px;
    }
    & .book-show__date__view__synopsis{
      & .body{
      }
    }
  }
}

.book-show__other-book{
  & .mybest-book-wrapper__list__heading{
    padding: 20px 40px 0;
    font-size: 24px;
  }
  & .mybest-book-wrapper__list__view-other{
    margin: 0 0 60px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &__list{
      width: 200px;
      height: 200px;
      min-width: 200px;
      min-height: 200px;
      text-align: center;
      margin: 10px;
      padding: 0 0 0 40px;
      &__image{
        transition-duration: 0.3s;
      }
      &__image:hover{
        opacity: 0.6;
        transition-duration: 0.3s;
      }
      &__title{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}