.book-index-wrapper{
  position: relative;
  &__menu{
    margin: 0 0 0 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &__book{
      width: 250px;
      height: 300px;
      min-width: 250px;
      min-height: 300px;
      text-align: center;
      margin: 10px;
      &__image{
        position: relative;
        & .read-btn{
          position: absolute;
          right: 70px;
        }
      }
      &__title{
        max-width: 250px;
        max-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &__authors{
        max-width: 250px;
        max-height: 24px;
        min-width: 250px;
        min-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &__submit{
        & .best-btn{
          @include best-btn;
        }
        & .best-btn:hover{
          @include best-btn-hover;
        }
        & .best-btn-after{
          width: 143px;
          @include best-btn-after;
        }
      }
    }
  }
}