.login-body{
  @include body($url:'book.jpg');
}
// .login-wrapper__diagonal-right{
//   border-top: 25vh solid #ffffff;
//   border-left: 30vw solid transparent;
//   position: absolute;
//   top: 0;
//   right: 0;
// }

// .login-wrapper__diagonal-left{
//   border-bottom: 25vh solid #ffffff;
//   border-right: 30vw solid transparent;
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }
.login-wrapper{
  @include devise_wrraper();
  &__container{
    @include devise_container();
    height: auto;
    padding: 0 0 30px;
    & h2{
      margin: 0 0 10px 0;
      border-bottom: solid 0.5px;
      font-size: 26px;
    }
    &__forget-pass{
      opacity: 0.7;
      transition: 0.5s;
      width: 300px;
      display: inline-block;
    }
    &__forget-pass:hover{
      background: #0066ff;
      font-size: 101%
    }
  }
  & .new_user *{
    font-size: 16px;
  }
  & .new_user{
    &__input{
      @include input_field ();
    }
    & .alert{
      @include input_alert();
    }
    & .btn-login{
      display: inline-block;
      padding: 0.5px 1px;
      color: #000000;
      transition: .4s;
      width: 321px;
      height: 46px;
      background: #fffffc;
    }
    & .btn-login:hover{
      background: #00a008;
      color: #ffffff;
    }
    & .btn-easylogin{
      display: inline-block;
      padding: 0.5px 1px;
      color: #000000;
      border: duble 4px #67c5ff;
      transition: .4s;
      width: 321px;
      height: 46px;
      background: #dede4e;
      margin: 0 0 20px 0;
    }
    & .btn-easylogin:hover{
      background: #00a008;
      color: #ffffff;
    }
  }
}

.new_user__input{
  padding: 0 10px;
}