.signup-body{
  @include body($url:'write.jpg');
}
.signup-wrapper{
  @include devise_wrraper();
  &__container{
    padding: 0 0 30px;
    @include devise_container($height:auto);
    & h2{
      margin: 0 0 10px 0;
      border-bottom: solid 0.5px;
      font-size: 26px;
    }
  }
  & .new_user *{
    font-size: 16px;
  }
  & .new_user{
    &__input{
      @include input_field ();
    }
    & .alert{
      @include input_alert();
    }
    & .btn-signup{
      display: inline-block;
      padding: 0.5px 1px;
      color: #000000;
      transition: .4s;
      width: 321px;
      height: 46px;
      background: #fffffc;
    }
    & .btn-signup:hover{
      background: #00a008;
      color: #ffffff;
    }
  }
}

.new_user__input{
  margin: 0 0 25px 0;
}
