.emotions-new-wrapper{
  & h2{
    @include h2();
  }
  &__list{
    word-wrap:break-all;
    display: flex;
    &__view{
      padding: 20px 70px 40px 40px;
      &__data{
        display: flex;
        position: relative;
        width: 550px;
        & .data{
          padding: 0 30px;
          & .title{
            font-size: 18px;
            padding: 0 0 5px 0;
            & .user{
              padding: 2px 0 0 0;
              display: flex;
              color: #a5a1a1;
              font-size: 14px;
              & .name{
                padding: 0 0 0 5px;
                color: #a5a1a1;
              }
              & .day{
                padding: 0 0 0 65px;
              }
            }
          }
          & .lead{
            font-size: 18px;
            padding: 0 0 5px 0;
            & .error-text{
              color: red;
            }
            & .emotion_create_form{
              & .emotion-area{
                height: 200px;
                width: 400px;
                resize: none;
                padding: 0 12px;
                border-radius: 5px;
                background-color: rgba(238, 238, 238, 0.1)
              }
              & .tag-area{
                font-size: 12px;
                width: 160px;
                background-color: rgba(238, 238, 238, 0.1);
                padding: 0 12px;
                border-radius: 1px;
                border: solid, 1px;
              }
            }
          }
        }
      }
    }
  }
}