.map-form-wrapper{
  & .form-delete-btn{
    margin: 3px 20px 0 0;
  }
  &__form{
    padding: 10px 0 0 0;
    & .map-create-form{
      &__book{
        padding: 20px 0 0 0;
        & #map_book{
          width: 400px;
          height: 36px;
        }
      }
      &__memori{
        padding: 10px 0 0 0;
        & #map_memori{
          height: 200px;
          width: 400px;
          resize: none;
          padding: 0 12px;
          border-radius: 5px;
          background-color: rgba(238, 238, 238, 0.1)
        }
      }
      &__images{
        padding: 15px 0 5px 0;
        & .file_field{
          display: none;
        }
        & .label{
          & .file-icon{
            font-size: 46px;
          }
        }
      }
      & .map-create-form__submit{
        display: inline-block;
        color: #000000;
        border: duble 4px #ffffff;
        transition: .4s;
        width: 300px;
        height: 35px;
        border-radius: 3px;
        background: #ffffff
      }
      & .map-create-form__submit:hover{
        background: #00a008;
      }
    }
  }
}