.map-title{
  @include h2(20px 40px 0 40px);
}
.map-index-wrapper{
  display: flex;
  &__map{
    position: relative;
    width: 40%;
    height: 75vh;
    padding: 20px 20px 0px 0px;
    & .map{
      width: 100%;
      height: 100%;
    }
    & .map-initial{
      position: absolute;
      top: 70px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 89%;
      z-index: 10;
      right: 20px;
      & .image{
        position: absolute;
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
        z-index: 15;
        left: 50px;
      }
    }
    &__search{
      position: absolute;
      top: 27px;
      right: 140px;
      z-index: 0;
      & .map-text{
        height: 37px;
        width: 240px;
        padding: 0 0 0 10px;
        border: solid 1px;
        border-radius: 2px;
      }
    }
  }
  &__views{
    overflow: scroll;
    height: 80vh;
    width: 60%;
    position: relative;
    &__view{
      padding: 0 0 20px 0;
      border-top: dotted 1px;
      &__main{
        padding: 10px 0 0 0;
        display: flex;
        & .title-name-memori{
          & .title-name{
            display: flex;
            & .title{
              padding: 0 10px 5px 10px
            }
          }
        }
        & .memori-images{
          display: flex;
          &__image{
            padding: 0 0 0 20px;
          }
        }
        & .map{
          & .memori-search-form{
            & .one-btn{
              color: rgb(0, 160, 8);
              transition: .4s;
            }
            & .one-btn:hover{
              opacity: 0.6;
              transition-duration: 0.3s;
            }
            & .label{
              cursor: pointer;
            }
            &__submit{
              display: none;
            }
          }
        }
      }
      &__panel{
        position: relative;
        & .accordion-icon{
          position: absolute;
          top: -188px;
          right: 320px;
          font-size: 26px;
          color: rgb(0, 160, 8);
          transition: .4s;
        }
        & .accordion-icon:hover{
          opacity: 0.6;
          transition-duration: 0.3s;
        }
        &__content{
          & .memori{
            width: 100%;
            height: 100%;
            padding: 0 0 5px 0;
            & .lead{
              font-size: 18px;
            }
            & .body{
              width: 100%;
              height: 100%;
              padding: 0 0 5px 10px;
              word-break: break-all;
            }
          }
          & .name-address{
            display: flex;
            color: #a5a1a1;
            font-size: 14px;
            & .name{
              padding: 0 20px 0 0;
            }
            & .address{
              padding: 0 20px 0 0;
            }
          }
        }
      }
    }
  }
}

.model-backgraund {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .3;
  display: none;
}

.map-form-wrapper{
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 550px;
  height: 450px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
}

.map-form-wrapper__form {
  display: none;
  text-align: center;
}