.map-title{
  @include h2(20px 40px 0 40px);
  .fa-question-circle{
    color: #4979cb;
    opacity: 0.8;
    cursor: pointer;
    
  }
  .fa-question-circle:hover{
    opacity: 1;
    filter: drop-shadow(0px 0px 1px rgba(186, 186, 186, 0.8));
  }
}
.map-index-wrapper{
  display: flex;
  &__map{
    position: relative;
    width: 40%;
    height: 75vh;
    padding: 20px 20px 0px 0px;
    & .map{
      width: 100%;
      height: 100%;
    }
    &__search{
      position: absolute;
      top: 27px;
      right: 140px;
      z-index: 0;
      & .map-text{
        height: 37px;
        width: 240px;
        padding: 0 0 0 10px;
        border: solid 1px;
        border-radius: 2px;
      }
    }
  }
  &__views{
    overflow: scroll;
    height: 80vh;
    width: 60%;
    position: relative;
    &__h3{
      font-size: 20px;
      margin: 0 0 10px;
    }
    &__view{
      padding: 0 0 20px 0;
      border-top: dotted 1px;
      &__main{
        padding: 10px 0 0 0;
        display: flex;
        & .title-name-memori{
          & .title-name{
            display: flex;
            & .title{
              padding: 0 10px 5px 10px
            }
          }
        }
        & .memori-images{
          display: flex;
          &__image{
            padding: 0 0 0 20px;
          }
        }
        & .map{
          & .memori-search-form{
            & .one-btn{
              color: rgb(0, 160, 8);
              transition: .4s;
            }
            & .one-btn:hover{
              opacity: 0.6;
              transition-duration: 0.3s;
            }
            & .label{
              cursor: pointer;
            }
            &__submit{
              display: none;
            }
          }
        }
      }
      &__panel{
        position: relative;
        & .accordion-icon{
          & .fa-detail{
            color: rgb(0, 160, 8);
            font-size: 26px;
          }
          & span{
            font-size: 16px;
          }
          position: absolute;
          top: -186px;
          right: 25%;
          transition: .4s;
        }
        & .accordion-icon:hover{
          opacity: 0.6;
          transition-duration: 0.3s;
        }
        &__content{
          & .memori{
            width: 100%;
            height: 100%;
            padding: 0 0 5px 0;
            // & .lead{
            //   font-size: 18px;
            // }
            & .body{
              width: 100%;
              height: 100%;
              padding: 10px 0 10px 10px;
              word-break: break-all;
            }
          }
          & .name-address{
            display: flex;
            color: #a5a1a1;
            font-size: 14px;
            & .name{
              padding: 0 20px 0 0;
            }
            & .address{
              padding: 0 20px 0 0;
            }
          }
        }
      }
    }
  }
}

.model-backgraund {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .3;
  display: none;
}

.map-form-wrapper{
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 550px;
  height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
  &__form {
    display: none;
    text-align: center;
    & .map-create-form{
      &__book{
        &__label{
          font-size: 20px;
          margin: 0 0 10px 0;
        }
      }
    }
    &__message{
      font-size: 26px;
    }
    &__image{
      padding: 50px 0 0 0;
      & img{
        width: 450px;
        height: 260px;
      }
    }
  }
}

.model-backgraund-intro {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .3;
}
.model-backgraund-intro-session {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .3;
  display: none;
}

.map-initial{
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #eee;
  text-align: right;
  margin: 30px auto;
  & img{
    width: 100%;
    height: 100%;
  }
}

.map-initial-session{
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
  margin: 30px auto;
  & img{
    width: 100%;
    height: 100%;
  }
}