.devise-box{
  background-color: rgba(150, 130, 95, 0.1);
   & h2{
    font-family: 'Abril Fatface', cursive;
     padding: 0 0 10px 20px;
     font-size: 26px;
     font-weight: bold;
     & a{
      font-family: 'Abril Fatface', cursive;
      text-decoration: none;
      color: #00a008;
     }
   }
}

.devise-box__nav{
  display: flex;
  & .book-search-form{
    display: flex;
  }
  & li{
    height: 30px;
    text-align: center;
    & a{
      text-decoration: none;
      color: #000;
      transition: .4s;
    }
  }
  & .one{
    width: 230px;
    min-width: 230px;
  }
  & .two{
    min-width: 100%;
    min-height: 100%;
    margin: 0 0 0 10px;
    a{
      border-bottom: dashed 1px rgb(162, 162, 162);
    }
  }

  & .two:hover{
    a{
      border-bottom: solid 1px;
    }
  }

  & .three {
    margin-left: auto;
    width: 150px;
    min-width: 100px;
    display: flex;
    & .outer-btn a:hover{
      color: #00a008;
    }
  }
  & .one-btn{
    color: rgb(38, 40, 177);
    font-size: 18px;
  }
  & .two-btn{
    color: rgb(0, 160, 8);
    font-size: 18px;
  }
}

.nav-hr{
  margin: 0;
}