.pagenate-top{
  position: absolute;
  top: 0;
  margin-left: 80%;
  background-color: rgb(238, 228, 211);
}


.pagenate-bottom{
  position: absolute;
  margin-left: 80%;
  background-color: rgb(238, 228, 211);
}

.pagination{
  display: flex;
}