.page_show_title{
  @include h2();
}
.page-show-wrapper{
  display: flex;
  &__mypage{
    position: relative;
    padding: 0 100px 20px 100px;
    text-align: center;
    &__image{
      padding: 0 0 10px 0;
    }
    &__best-book{
      &__lead{
        padding: 0 0 5px 0;
        font-size: 18px;
      }
      & .tab_li{
        list-style: none;
        & .chart{
          color: black;
          text-decoration: none;
          position: relative;
          & .title{
            padding: 10px 0 0 0;
            font-size: 18px;
          }
          & .icon{
            position: absolute;
            font-size: 98px;
            top: -25px;
            left: -50px;
            color: #00a008
          }
          & .icon:hover{
            opacity: 0.6;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  &__side{
    padding: 10px 0 0 0;
    &__profile{
      padding: 0 0 70px 0;
      &__lead{
        font-size: 18px;
        padding: 0 0 5px 0;
      }
      &__body{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-height: 60px;
        & .p{
          word-break: keep-all;
          font-size: 16px;
          min-width: 50px;
        }
      }
    }
    &__content{
      background-color: rgba($color: #f5f5f5, $alpha: 0.4);
      border-right: solid 1px rgb(174, 174, 174);
      border-left: solid 1px rgb(174, 174, 174);
      border-bottom: solid 1px rgb(174, 174, 174);
      max-width: 840px;
      margin: 0 0 40px 0;
      & .tab1{
        & .data{
          max-width: 850px;
          display: flex;
          padding: 40px 0 0 0;
          & .image{
            padding: 0 0 0 20px;
          }
          & .title-synops{
            padding: 0 0 5px 20px;
            & .title{
              font-size: 16px;
              border-left: solid 5px rgb(143, 140, 140);
              padding: 0 0 0 5px;
              margin: 0 0 10px 0;
            }
            & .synopsis{
              word-break: keep-all;
              font-size: 14px;
              &__body{
                width: 620px;
                height: 125px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
      & .tab2{
        & .data{
          max-width: 850px;
          display: flex;
          padding: 40px 0 0 0;
          & .image{
            padding: 0 0 0 20px;
          }
          & .title-name-emotion{
            padding: 0 0 0 20px;
            & .title-name{
              display: flex;
              & .title{
                font-size: 16px;
                border-left: solid 5px rgb(143, 140, 140);
                padding: 0 5px 0 5px;
                margin: 0 0 10px 0;
              }
              & .name{
                & a{
                  text-decoration: none;
                  color: #a5a1a1;
                }
              }
            }
            & .emotion{
              font-size: 14px;
              &__body{
                width: 620px;
                height: 125px;
                word-break: keep-all;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
      & .tab3{
        & .data{
          max-width: 850px;
          display: flex;
          padding: 40px 0 0 0;
          & .image{
            padding: 0 0 0 20px;
          }
          & .title-name-crated-synopsis{
            padding: 0 0 0 20px;
            & .title-name-created{
              display: flex;
              & .title{
                font-size: 16px;
                border-left: solid 5px rgb(143, 140, 140);
                padding: 0 5px 0 5px;
                margin: 0 0 10px 0;
              }
              & .name{
                & a{
                  text-decoration: none;
                  color: #a5a1a1;
                  padding: 0 20px 0 0;
                }
              }
              & .created{
                color: #a5a1a1;
              }
            }
            & .synopsis{
              word-break: keep-all;
              font-size: 14px;
              &__body{
                width: 620px;
                height: 125px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}