.page_about-wrapper{
  display: flex;
    &__left{
      padding: 80px 50px 0 60px;
      &__content{
        &__icon-title{
          display: flex;
          padding: 0 0 5px 30px;
          & .icon{
            padding: 3px 5px 0 0;
            color: #00a008;
          }
          & .title{
            font-size: 22px;
          }
        }
        &__descript{
          padding: 0 0 50px 30px;
        }
      }
      &__image{
        filter: brightness(80%);
      }
    }
    &__right{
      padding: 50px 0 0 0;
      display:flex;
      flex-flow: column;
      justify-content:space-between;
      &__content{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        padding: 25px 0 0 0;
        &__icon-title{
          display: flex;
          padding: 0 0 3px 0;
          & .icon{
            padding: 1px 5px 0 0;
            color: #00a008;
          }
          & .title{
            font-size: 18px;
          }
        }
        &__descript{
          & .last{
            padding: 40px 0 10px 0;
          }
          & .btn{
            width: 200px;
            border: solid 1px;
            border-radius: 5px;
            text-align: center;
            & a{
              color: #000000;
              text-decoration: none;
              background-color: rgb(235, 235, 235);
              transition: .4s;
            }
          }
          & .btn:hover{
            a{
              background-color: rgb(114, 122, 199);
            }
            background-color: rgb(114, 122, 199);
            transition: .4s;
          }
        }
      }
    }
}