.rade-index-wrapper{
  position: relative;
  & h2{
    @include h2();
  }
  & .readed-lists{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 0 0 40px;
    &__list{
      display: inline-block;
      padding: 20px;
      height: 200px;
      min-height: 200px;
      display: flex;
      position: relative;
      border: solid 1px black;
      background-color: rgba(150, 130, 95, 0.1);
      margin: 0 0 20px 45px;
      &__image{
        transition-duration: 0.3s;
      }
      &__image:hover{
        opacity: 0.6;
        transition-duration: 0.3s;
      }
      &__date{
        padding: 0 0 0 15px;
        &__title{
          font-size: 18px;
          padding: 0 0 10px 0;
          max-width: 180px;
          max-height: 37px;
          &__text{
            border-left: solid 5px rgb(143, 140, 140);
            padding: 0 0 0 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            min-width: 180px;
          }
        }
        &__submit{
          padding: 60px 0 0 0;
          & .best-btn{
            @include best-btn;
          }
          & .best-btn:hover{
            @include best-btn-hover;
          }
          & .best-btn-after{
            width: 133px;
            height: 22px;
            @include best-btn-after;
          }
        }
      }
    }
  }
}