.read-btn-on{
  color: #ffef15;
  transition: .3s;
  font-size: 20px;
  border-bottom: solid 0.5px;
  border-color: #3d00e6
}

.read-btn-off{
  transition: .3s;
  color: #f3f3f3;
  border-bottom: solid 0.5px;
  border-color: #000000
}