.tab_ul{
  margin-right:1px;
  list-style-type:none;
  display: flex;
  & .tab_li{
    & .tab_a{
      font-size:1em;
      font-weight:bold;
      color:#FFF;
      text-decoration:none;
      display:block;
      width:250px;
      padding:15px 20px;
      background:rgb(114, 113, 113);
    }
    & .tab_a:hover{
      background:rgb(99, 98, 98);
      color:#FFF;
    }
    & .tab_a.current{
      background:#F5F4F2;
      color:rgb(0, 0, 0);
    }
  }
}