.tag{
  margin: 0 2px 0 0;
  & a{
    border-radius: 2px;
    padding: 3px;
    background-color: hsl(123, 57%, 47%); 
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 0.3s;
  }
  & a:hover{
    opacity: 0.6;
    transition-duration: 0.3s;
  }
}