@mixin body($url:'book.jpg'){
  background-color: rgba(52, 152, 247, 0.4);
  background: asset-url($url) fixed;
  background-size: cover;
}

@mixin devise_wrraper(){
  padding: 60px 0 0 0;
  text-align: center;
}

@mixin input_field (){
  border-radius: 1px;
  width: 300px;
  height: 45px;
  border: solid 0.5px;
  border-radius: 2px;
}

@mixin  input_alert(){
  color: #ff0000;
  opacity: 0.9;
  font-size: 14px;
}

@mixin btn($width:300px,$background:#fffffc){
  display: inline-block;
  padding: 0.5px 1px;
  color: #67c5ff;
  border: duble 4px #67c5ff;
  transition: .4s;
  width: $width;
  height: 35px;
  background: $background
}

@mixin devise_container($width:400px,$height:400px) {
  width: $width;
  margin: 0 auto;
  border-radius: 10px;
  height: $height;
  background: #f3f3f3;
}

@mixin h2($padding:40px,$font-size:38px){
  padding: $padding;
  font-size: $font-size;
  font-weight: bold;
}

@mixin follow-btn($coloer:#f3f3f3,$font-size:16px,$border-coler:none){
  color: $coloer;
  transition: .3s;
  font-size: $font-size;
  border-color: $border-coler;
}

@mixin best-btn{
  display: inline-block;
  padding: 0em 1em;
  text-decoration: none;
  color: #000000;
  border-radius: 3px;
  transition: .4s;
  max-width: 165px;
  height: 38px;
}

@mixin best-btn-hover {
  background: #00a008;
  color: #ffffff;
}

@mixin best-btn-after {
  background: #00a008;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
}

@mixin search_form($width,$btn-raight:25px,$top:5px) {
  & .one-btn{
    position: absolute;
    top: $top;
    right: $btn-raight;
    color: rgb(128, 128, 128);
  }
  &__text{
    display: inline-block;
    max-width: 240px;
    width: $width;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    background-color: rgba(114, 104, 104, 0.1);
    padding: 0 12px;
  }
  & .label{
    cursor: pointer;
  }
  &__submit{
    display: none;
  }
}