@mixin body($url:'book.jpg'){
  background-color: rgba(52, 152, 247, 0.4);
  background: url($url) fixed;
  background-size: cover;
}

@mixin devise_wrraper(){
  padding: 60px 0 0 0;
  text-align: center;
}

@mixin input_field (){
  border-radius: 1px;
  width: 300px;
  height: 45px;
  border: solid 0.5px;
}

@mixin  input_alert(){
  color: #e956c9;
  opacity: 0.9;
  font-size: 14px;
}

@mixin btn(){
  display: inline-block;
  padding: 0.5px 1px;
  color: #67c5ff;
  border: duble 4px #67c5ff;
  transition: .4s;
  width: 300px;
  height: 35px;
  background: #fffffc
}

@mixin devise_container($width:400px,$height:400px) {
  border: solid 0.5px #0066ff;
  width: $width;
  margin: 0 auto;
  border-radius: 10px;
  height: $height;
  background: rgba(145, 196, 243, 0.8);
}

@mixin h2{
  padding: 40px;
  font-size: 38px;
  font-weight: bold;
}